<div id="<%= dom_id(parent) %>">
  <table class="scorecard">
    <tr>
      <th class="title align_left" colspan="12">Front 9</th>
    </tr>
    <%= render :partial => 'scorecards/holes', :locals => { :parent => parent, :side => :front} %>
    <tr>
      <th class="title align_left" colspan="12">Back 9</th>
    </tr>
    <%= render :partial => 'scorecards/holes', :locals => {:parent => parent, :side => :back} %>
  </table>
</div>
